
.body-text {
    font-family: Monospace;
    font-size: 10px;
    text-align: left;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.syntax-color {
    color: #a424ad;
}

.comment-color {
    color: #16841a;
}

.space {
    margin-left: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tab {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tab-w-space {
    margin-left: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
}