
#main {
    font-family: Monospace;
    font-size: 10px;
    text-align: left;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.no-marg, #comment h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.syntax-color {
    color: #a424ad;
}

.comment-color {
    color: #16841a;
}

.space {
    margin-left: 11px;
}

.tab {
    margin-left: 50px;
}

.tab-w-space {
    margin-left: 61px;
}

textarea:focus {
    outline: none;
}

textarea {
    width: 600px;
    height: 50px;
    resize: none;
    overflow: hidden;
    border: none;
    text-align: left;
    font-family: Monospace;
    font-weight: bold;
    font-size: 20px;
}